@model Station
<div class = "container">
	<label><b>@Model.Name</b></label><br />
	<label><b>@Model.City</b></label><br />
	<label><b>@Model.Adress</b></label><br />
	<label><b>@Model.Id</b></label><br />

    <a asp-route-id="@Model.Id" asp-action="AddPlug" style="color:#FF8800;"><b>Add new plug</b> </a>

	<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>Plug Number </th>  
        <th>Plug Type </th>  
        <th>Action</th>
    </tr>  

    @foreach (var d in Model.Plugs)  
    {  
        <tr>  
           <td>@d.Id</td>  
           <td>@d.Type.Name</td>  
           <td><a asp-route-id="@d.Id" asp-action="Index" asp-controller="Booking"  style="color:#008000;"> <b>Booking</b></a> <br /><br/>
               <a asp-route-id="@d.Id" asp-action="DeletePlug" style="color:#FF0000;"><b>Delete</b> </a>
           </td>
        </tr>  
    }  
</table>  
    
</div>