@model IEnumerable<Station>
@{
    ViewData["Title"] = "Station Page";
}

<div class="text-center">
    <a asp-action="AddStation" style="color:#FF8000;"><b>Add new station</b></a> <br /><br />
<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>Staition Id </th>  
        <th>Station Name </th>  
        <th>City </th>  
        <th>Adress </th>  
        <th>Action</th>
    </tr>  

    @foreach (var d in Model)  
    {  
        <tr>  
           <td>@d.Id</td>
           <td>@d.Name</td>  
           <td>@d.City</td>  
           <td>@d.Adress</td>  
           <td><a asp-route-id="@d.Id" asp-action="Details" style="color:#008000;"><b>Details</b></a> <br />
               <a asp-route-id="@d.Id" asp-action="Map" style="color:#008099;"> <b>Map</b></a> <br />
               <a asp-route-id="@d.Id" asp-action="DeleteStation" style="color:#FF0000;"><b>Delete</b></a>
           </td>
        </tr>  
    }  
</table>  
</div>