@model BookingAndTimes
<link href="~/css/calendar.css" rel="stylesheet"/>
@section scripts {
	<script type="text/javascript" src="~/js/calendar.js"></script>
}
<div class="row">
	<div class="column">
		<div class="col-md-4">
			<form asp-action="SaveBooking" method="post">
				<div>
					<div class="form-group">
						<label asp-for="@Model.CarNumber" class="control-label">Car Number</label>
						<input asp-for="@Model.CarNumber" class="form-control" required=true/>
						<span asp-validation-for="@Model.CarNumber" class="text-danger"></span>
					</div>
					<div class="form-group">

						<label asp-for="@Model.StartDate" class="control-label">Start Date and Time</label>
						<input asp-for="@Model.StartDate" class="form-control" type="datetime-local" required=true/>
						<span asp-validation-for="@Model.StartDate" class="text-danger"></span>
					</div>
					<div class="form-group">

						<label asp-for="@Model.EndDate" class="control-label">End Date And Time</label>
						<input asp-for="@Model.EndDate" class="form-control" type="datetime-local" required=true/>
						<span asp-validation-for="@Model.EndDate" class="text-danger"></span>
					</div>
					<div>
						<input asp-for="@Model.PlugId" hidden />
					</div>					
					@*
						public Guid? UserId { get; set; }
						This need to be implemeted if we make users
					*@
					<div class="form-group">
						<input type="submit" value="Save Booking" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
		<div> <br/><br/>
			<a asp-action="Index" asp-controller="RechargingStation" style="color:#FF8800;"><b>Back to details page</b> </a>
		</div>
	</div>

	<div class="column">
		<div class="cd-schedule loading">
			<div class="timeline">
				<ul>
					<li><span>00:00</span></li>
					<li><span>01:00</span></li>
					<li><span>02:00</span></li>
					<li><span>03:00</span></li>
					<li><span>04:00</span></li>
					<li><span>05:00</span></li>
					@*<li><span>05:30</span></li>*@
					<li><span>06:00</span></li>
					@*<li><span>06:30</span></li>*@
					<li><span>07:00</span></li>
					@*<li><span>07:30</span></li>*@
					<li><span>08:00</span></li>
					@*<li><span>08:30</span></li>*@
					<li><span>09:00</span></li>
					@*<li><span>09:30</span></li>*@
					<li><span>10:00</span></li>
					@*<li><span>10:30</span></li>*@
					<li><span>11:00</span></li>
					@*<li><span>11:30</span></li>*@
					<li><span>12:00</span></li>
					@*<li><span>12:30</span></li>*@
					<li><span>13:00</span></li>
					@*<li><span>13:30</span></li>*@
					<li><span>14:00</span></li>
					@*<li><span>14:30</span></li>*@
					<li><span>15:00</span></li>
					@*<li><span>15:30</span></li>*@
					<li><span>16:00</span></li>
					@*<li><span>16:30</span></li>*@
					<li><span>17:00</span></li>
					@*<li><span>17:30</span></li>*@
					<li><span>18:00</span></li>					
					@*<li><span>18:30</span></li>*@
					<li><span>19:00</span></li>					
					@*<li><span>19:30</span></li>*@
					<li><span>20:00</span></li>					
					@*<li><span>20:30</span></li>*@
					<li><span>21:00</span></li>					
					@*<li><span>21:30</span></li>*@
					<li><span>22:00</span></li>					
					@*<li><span>22:30</span></li>*@
					<li><span>23:00</span></li>
				</ul>
			</div> <!-- .timeline -->

			<div class="events">
				<ul class="wrap">
					@{
						DateTime currentTime = DateTime.Now;
					}


					@for(int i = 0; i < 7; i++)
					{

							<li class="events-group">
								<div class="top-info"><span>@currentTime.Date.AddDays(i).ToString("dddd, dd MMMM yyyy")</span></div>
								@foreach (StartEndTime seTime in Model.bookedTimes)
								{
									@if (seTime.startTime.Date.ToString("dd/MM/yyyy") == currentTime.AddDays(i).ToString("dd/MM/yyyy"))
									{
										<script>alert(@seTime.startTime.ToString("HH:mm")+"  "+ @seTime.endTime.ToString("HH:mm"))</script>
										<ul>
											<li class="single-event" data-start=@seTime.startTime.ToString("HH:mm"); data-end=@seTime.endTime.ToString("HH:mm");  data-content="event-yoga-1" data-event="event-1">
												<a href="#0">
													<em class="event-name">Already Booked</em>
												</a>
											</li>
										</ul>
									}
								}
							</li>
					}
				</ul>


			<div class="event-modal">
				<header class="header">
					<div class="content">
						<span class="event-date"></span>
						<h3 class="event-name"></h3>
					</div>

					<div class="header-bg"></div>
				</header>

				<div class="body">
					<div class="event-info"></div>
					<div class="body-bg"></div>
				</div>

				<a href="#0" class="close">Close</a>
			</div>

			<div class="cover-layer"></div>
		</div> <!-- .cd-schedule -->










		</div>
	</div>
</div>
